/* Styling for the header */
.header {
  font-family: "Dancing Script", cursive;
  font-size: 45px;
  font-weight: bolder;
  color: #8d46b0;
  text-align: center;
  margin-bottom: 20px;
}

/* Styling for the background/body */
body {
  background-color: #fcf5eb;
  font-family: "Bubbler One", sans-serif;
}

/* Styling for the paragraph text*/
p {
  text-align: center;
}

/* Styling for the main container */
.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

/* Styling for the game board container */
#game-board-container {
  flex: 2;
  max-width: 800px;
  margin-bottom: 20px;
}

/* Styling for the main game board div */
#game-board {
  font-family: "Bubbler One", sans-serif;
  background-color: #fbeaeb;
  position: relative;
  margin: auto;
  inset: 0;
  border: 0.1vmin solid black;
  height: 85vmin;
  width: 85vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Styling for each individual box */
.box {
  position: relative;
  flex: 1 0 8vmin;
  border: 0.1vmin solid black;
  text-align: center;
  color: #8d46b0;
  line-height: 8vmin;
  font-size: 2vmin;
  box-sizing: border-box;
}

/* Styling for the cat characters */
img {
  height: 6vmin;
  width: 6vmin;
}

.players {
  position: absolute;
  opacity: 0.8;
  transition-duration: 0.4s;
  transition-property: margin;
  bottom: 0;
  left: 0;
}

/* Styling for the Dice Roll and Player Name Box */
/* Styling for the player info */
#player-info {
  position: relative;
  border: 1px solid black;
  padding: 10px;
  flex: 1;
  max-width: 300px;
  margin-left: 20px;
  margin-right: 10px;
  max-height: 35vmin;
}

/* Styling for the dice roll container */
#dice-roll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for the roll dice button */
#roll-dice-btn {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #8d46b0;
  color: #fff;
  border: none;
  border-radius: 4px;
}

#dice-roll-result {
  font-size: 30px;
  margin-bottom: 10px;
}

/*MEDIA QUERIES*/
/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  #player-info {
    margin: 20px;
  }

  .box {
    flex: 1 0 5vmin;
    line-height: 5vmin;
    font-size: 1.5vmin;
  }

  #game-board {
    height: auto;
    flex: 1;
  }

  .box {
    flex: 1 0 4vmin;
    line-height: 4vmin;
    font-size: 1.2vmin;
  }
}

/* Media query for smaller screens */
/* This ensures that when the screen gets smaller, the player-info box goes under the game board and doesn't get squashed */
@media screen and (max-width: 850px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  #player-info {
    margin: 20px;
    max-width: none;
  }

  #game-board-container {
    margin-top: 20px;
  }
}
