/* Styling for the header */
.header {
  font-family: "Dancing Script", cursive;
  font-size: 45px;
  font-weight: bolder;
  color: #8d46b0;
  text-align: center;
  margin-bottom: 20px;
}

/* Styling for the background/body */
body {
  background-color: #fcf5eb;
  font-family: "Bubbler One", sans-serif;
}

/* Styling for the main container */
.container {
  display: flex;
  justify-content: space-between;
  margin: 20px; /* Adjust margin as needed */
}

/* Styling for the game board container */
#game-board-container {
  flex: 2;
  max-width: 800px;
}

/* Styling for the main game board div */
#game-board {
  font-family: "Bubbler One", sans-serif;
  background-color: #fbeaeb;
  position: relative; /* Change position to relative */
  margin: auto;
  inset: 0;
  border: 0.1vmin solid black;
  height: 85vmin;
  width: 85vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Styling for each individual box */
.box {
  flex: 1 0 8vmin;
  border: 0.1vmin solid black;
  text-align: center;
  color: #8d46b0;
  line-height: 8vmin;
  font-size: 2vmin;
  box-sizing: border-box;
}

/* Styling for the player info */
#player-info {
  position: relative; /* Change position to relative */

  border: 1px solid black;
  padding: 10px;
  flex: 1;
  max-width: 300px;
  margin-left: 20px; /* Add margin to separate from game board */
  max-height: 35vmin; /* Set a maximum height as needed */
}

/* Styling for the dice roll container */
#dice-roll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for the roll dice button */
#roll-dice-btn {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #8d46b0;
  color: #fff;
  border: none;
  border-radius: 4px;
}

#dice-roll-result {
  font-size: 30px;
  margin-bottom: 10px; /* Add margin-bottom to create space and push the result to a new line */
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  #player-info {
    margin: 20px 0; /* Add margin to separate from game board */
  }

  .box {
    flex: 1 0 5vmin;
    line-height: 5vmin;
    font-size: 1.5vmin;
  }

  #game-board {
    height: auto;
    flex: 1;
  }

  .box {
    flex: 1 0 4vmin;
    line-height: 4vmin;
    font-size: 1.2vmin;
  }
}

p {
  text-align: center;
}
